parameters:
	level: 9
	paths:
		- src
		- tests
	ignoreErrors:
	    -
	        identifier: missingType.generics

	    -
	        message: '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9]+ is never written, only read.#'
	        path: tests\Unit\ExampleObjects\*
